body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 4fr 0.5fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

}

.bookCards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: center;
    min-height: 80vh;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;
}

.addBook {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 16px 0px;
}

.footer {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: end;
}

.card {
    background-color: aqua;
    padding: 16px;
    border-radius: 8px;
}